@font-face {
	font-family: "IPAexGothic";
	src: url("./fonts/ipaexg.ttf");
}
@font-face {
	font-family: "IPAexMincho";
	src: url("./fonts/ipaexm.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url("./fonts/OpenSans-LightItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url("./fonts/OpenSans-Italic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url("./fonts/OpenSans-SemiBoldItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url("./fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url("./fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url("./fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: 'Kanji Stroke Orders';
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/KanjiStrokeOrders_v4.004.ttf");
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", "Open Sans", "IPAexGothic";
    -webkit-font-smoothing: antialiased;
    width: 99vw;
    height: 99vh;
    margin: 0.5vh 0.5vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #333;
    color: #fff;
}
.verb-highlight {
    color: lightpink;
}
.noun-highlight {
    color: lightblue;
}
.particle-highlight {
    color: deepskyblue;
}
.kanjifont {
    font-family: "Kanji Stroke Orders";
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: #2a2a2c;
}

*::-webkit-scrollbar-thumb {
    background-color: #7d7d7e;
    border-radius: 20px;
    border: 3px solid #2a2a2c;
}
.japanese-input {
    position: relative;
    font-size: 24px;
    height: 100%;
}
.japanese-input .editor, .japanese-input .highlighter {
    position: absolute;
    width: 100%;
    height: 100%;
}
.japanese-input .highlighter {
    padding: 2px 2px;
    border: 2px solid #333;
    z-index: 0;
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    overflow-y: hidden;
    white-space: pre-wrap;
}
.japanese-input .editor {
    color: transparent;
    background: transparent;
    caret-color: white;
    resize: none;
    border-width: 2px;
    border-color: #777;
    z-index: 1;
    overflow-y: scroll;
}
input {
    background-color: #333;
    color: #fff;
}
:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}
.settings-panel-didactical-enigma-mem {
    display: flex;
    flex-direction: column;
}
.settings-panel-didactical-enigma-mem-top-row {
    display: flex;
}
.settings-panel-didactical-enigma-mem-bottom-row {
    display: flex;
}
.settings-panel-didactical-enigma-mem .settings-panel-didactical-enigma-mem-spanner {
    flex: auto;
}
.about-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    width: 100%;
}
.about-panel > div {
    width: 100%;
}
select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: #fff;
}
select option {
    color: initial;
}
.select {
    width: 100%;
    border: 1px solid var(--select-border);
    padding: 0.15em;
    background-color: #333;
    grid-template-areas: "select";
    align-items: center;
    display: grid;
}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}
.select select {
    grid-area: select;
}
.select:after {
    grid-area: select;
}
button {
    background-color: #333;
    color: #fff;
}
button[disabled] {
    color: #666;
}
.tabcontrol-tab-selected button {
    color: #666;
}
.grid {
    display: grid;
    height: 100%;
}
.kana-board {
    height: 100%;
    width: 100%;
    display: grid;
    font-size: 1.2em;
}
.data-sources {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.data-source-vsplit {
    display: flex;
    flex: initial;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}
.data-source-hsplit {
    display: flex;
    flex: initial;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.about-section {
    white-space: pre-line;
    overflow-y: scroll;
}
.loading-error {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.logging-preview {
    overflow-y: scroll;
    overflow-wrap: anywhere;
}
.data-source-viewer {
    height: 100%;
    flex: initial;
    display: flex;
    flex-direction: column;
}
.data-source-viewer-header {
    flex: initial;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.data-source-text {
    overflow-y: scroll;
    height: 100%;
}
.data-source-viewer-header-button {
    flex: 0 1;
}
.data-source-viewer-header-selector {
    flex: auto;
    min-width: 0;
    width: 100%;
}
.data-source-split-dragger {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    flex: initial;
}
.data-source-split-dragger-horizontal {
    background-color: #111;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
    min-height: 6px;
}
.data-source-split-dragger-vertical {
    background-color: #111;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    min-width: 6px;
}
.project-input {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.project-input .japanese-input {
    flex: auto;
}
.project-input .similar-characters-picker {
    flex: initial;
}
.project-input .english-input {
    flex: auto;
}
.similar-characters-picker {
    display: grid;
    overflow-y: scroll;
    font-size: 24px;
    grid-template-columns: repeat(3, min-content);
    grid-auto-rows: min-content;
}
.project-input-center-panel .similar-characters-picker {
    flex: auto;
}
.project-input-center-panel {
    display: flex;
    flex-direction: column;
}
.project-input-center-panel .project-input-center-panel-footer {
    flex: initial;
    display: flex;
}
.project-input-center-panel .project-input-center-panel-footer * {
    flex: auto;
}
.english-input {
    position: relative;
    font-size: 24px;
    height: 100%;
}
.english-input .editor, .english-input .highlighter {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.english-input .highlighter {
    padding: 2px 2px;
    border: 2px solid #777;
    z-index: 0;
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    white-space: pre-wrap;
}
.english-input .editor {
    color: white;
    background: transparent;
    caret-color: white;
    resize: none;
    border-width: 2px;
    border-color: #777;
    z-index: 1;
}
.radicals {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.radicals .radicals-optionsbar {
    flex-grow: 0;
    flex-shrink: 0;
}
input.radicals-searchbox {
    margin: 2px 0px 2px 0px;
    padding: 0.3em;
}
.radicals .radicals-bottom {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: auto;
}
.radicals .radicals-optionsbar .left-group {
    float: left;
    text-align: left;
}
.radicals .radicals-optionsbar .right-group {
    float: right;
    text-align: right;
}
.radicals .radicals-radicalselector {
    grid-column: 1;
    overflow-y: scroll;
}
.radicals .radicals-kanjiresults {
    grid-column: 2;
    overflow-y: scroll;
}
.radicals-radicalselectoroption {
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
}
.radicals-radicalselectoroption-hidden {
    display: none;
}
.radicals-kanjiresult {
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    text-align: center;
}
.radicals-radicalselected {
    color: red;
}
.tabcontrol {
    display: flex;
    flex-direction: column;
}
.tabcontrol-header {
    flex-grow: 0;
    flex-shrink: 0;
}
.tabcontrol-tabcontent {
    flex-grow: 1;
}
.tabcontrol-header button {
    float: left;
    margin-right: -10px;
    z-index: 1;
    padding-right: 20px;
    border-top-right-radius: 2em;
    /*! padding-left: 10px; */
    position: relative;
    padding-left: 10px;
}
.tabcontrol-tab-selected button {
    z-index: 2;
}
.tabcontrol-header:after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}
.tabcontrol-tabcontent {
    display: none;
}
.tabcontrol-tabcontent-selected {
    display: block;
    height: 100%;
    overflow: auto;
}
.textelement-extrasmall
{
	font-size: 9px;
}
.textelement-small
{
	font-size: 12px;
}
.textelement-medium
{
	font-size: 14px;
}
.textelement-normal
{
	font-size: 16px;
}
.textelement-large
{
	font-size: 24px;
}
.textelement-extralarge
{
	font-size: 48px;
}
.textelement-humonguous
{
	font-size: 120px;
}
.textelement-emphasis
{
	font-weight: bold;
}
.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.loading-screen-loaded {
    display: none;
}
.loaded-content {
    display: none;
}
.loading-screen-main-text {
    font-size: 48px;
}
.loading-screen-side-text {
    
}
.loading-screen-content {
    text-align: center;
}